{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "chessgym-placeholder",
    "storage_bucket": "chessgym-placeholder.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000",
        "android_client_info": {
          "package_name": "com.paulcraciunas.chessgym"
        }
      },
      "api_key": [
        {
          "current_key": "placeholder-api-key"
        }
      ],
      "services": {}
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000001",
        "android_client_info": {
          "package_name": "com.paulcraciunas.chessgym.debug"
        }
      },
      "api_key": [
        {
          "current_key": "placeholder-api-key"
        }
      ],
      "services": {}
    }
  ],
  "configuration_version": "1"
}
